@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.activity{
    margin: 0 auto;
    background: black;
    padding: 0px;
    text-align: justify;
    color: white;
    font-family: 'Montserrat',sans-serif;
}

.align-left {
    float: left;
    margin-right: 20px;
  }
  
  .align-right {
    float: right;
    margin-left: 20px;
  }
  
  .slide-in {
    opacity: 0;
    transition: all 0.5s;
  }
  
  .align-left.slide-in {
    transform: translateX(-30%) scale(0.95);
  }
  
  .align-right.slide-in {
    transform: translateX(30%) scale(0.95);
  }
  
  .slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }

  .activity-column{
      object-fit: cover;
      overflow: hidden;
  }

  .flag-container{
      text-align: center;
  }

  .flag {
      display: inline-block;
      width: 5vw;
  }

  #activity-title{
    font-size: 3rem;
    text-align: center;
  }

  #activity-paragraph{
    font-size: 2rem;
    text-align: center;
    color: #8a8a8a;
  }

  @media screen and (max-width:1400px){
    #activity-title {
      font-size: 2.5rem;
    }
    #activity-paragraph {
      font-size:1.5rem;
    }
  }

  @media screen and (max-width:1200px){
    #activity-title {
      font-size: 1.8rem;
    }
    #activity-paragraph {
      font-size: 1.08rem;
    }
  }

  @media screen and (max-width:860px){
    #activity-title {
      font-size: 1.3rem;
    }
    #activity-paragraph{
      font-size: 0.9rem;
    }
  }

  @media screen and (max-width:700px){
    #activity-title{
      font-size: 0.9rem;
    }

    #activity-paragraph{
      font-size: 0.6rem;
    }
  }

  @media screen and (max-width:520px){
    #activity-title{
      font-size: 0.6rem;
    }

    #activity-paragraph{
      font-size: 0.432rem;
    }
  }

  .activity-content{
    margin-top: 10vw;
    margin-right: 5vw;
    margin-left: 5vw;
  }