@import url('https://fonts.googleapis.com/css?family=Roboto:300');

:root {
  --headw: 100vw;
  --headh: 100vh;

  --clr-light: #e0e0e0;
  --clr-medium: #a6a6a6;
  --clr-dark: #4f4f4f;
}

html{
  scroll-behavior: smooth;
  scrollbar-color: #363636 #000000;
  background-color: black; /* #027997 */
}

.head-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#above{
  width: 150%;
  height: auto;
}

@media screen and (max-width:950px) {
  #above{
    width: 90%;
    height: auto;
  }
}

#vid1{
    position: absolute;
    top: 0;
    margin: auto;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

#black1{
    z-index: 1;
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#pattern{
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#grad1{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.8));
    width: inherit;
    height: inherit;
}

#above{
  z-index: 3;
  position: absolute;
  top: 10%;
  left: 0;
  height: 100vh;
  object-fit: cover;
}

@media screen and (min-width:950px) {
  #above {
    left:-10%;
  }
}

#text-container{
  z-index: 3;
  position: absolute;
  left: 5vw;
  top: 56vh;
  color: var(--clr-light);
  font-size: 15em;
  font-family: sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  padding: 0;
  margin: 0;
  overflow: visible;
  visibility: visible;
}

#text2-container {
  z-index: 4;
  position: absolute;
  left: 5vw;
  top: 56vh;
  color: var(--clr-light);
  font-size: 10em;
  font-family: sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  padding: 0;
  margin: 0;
  overflow: visible;
  visibility: visible;
}

